# Build artifacts
cmake-build-debug/
cmake-build-release/
build/
dist/
*.o
*.a
*.so
*.dylib
*.exe

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Log and output files
log/
output/
*.log
*.txt
*.csv

# Temporary files
*.tmp
*~
